html{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width:900px) {
  html{
    font-size: 45.5%;
  }
}
@media only screen and (max-width:600px) {
  html{
    font-size: 32.5%;
  }
}
body {
  margin: 0px;
  padding: 0px;
  font-family:"muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6B6E70;
}
